/* Home Page styles */

.quote {
  text-align: center;
  font-size: 20px;
  padding: 0px 40px 0px 40px;
  margin-bottom: 80px;
  
}


.description-container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  padding: 0 60px 0 60px;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 80px;

}

.description-left-side {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  
  

}

.description-image {
  display: flex;
  max-width: 500px;
  margin-bottom: 20px;
  
}

.description-right-side {
  display: flex;
  flex-direction: column;



}

.description-headline {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 20px;


}

.description-subheadline {
  max-width: 600px;
  font-size: 18px;
  margin-bottom: 20px;

}

.shows-container {
  background-color: black;
  min-height: 950px;
  padding-top: 80px;
}

.shows-container-headline {
  color: white;
  font-weight: 700;
  font-size: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.shows-grid {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 20px;
  column-gap: 20px;
  padding: 40px 180px 40px 180px;
  
}

.thumbnail-1 {
  width: 100%;
}

@media (max-width: 749px) {


  .description-image {
    display: flex;
    max-width: 400px;
    margin-bottom: 20px;

  }

  .description-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding: 0 30px 0 30px;
    margin-bottom: 80px; 
  }
  .shows-grid {
    grid-template-columns: 1fr 1fr;    
    padding: 40px 20px 40px 20px;  
  }


  .process-background {
    height: 1200px;
    position: relative;
    padding-bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
  }

  .process-container-background-image {
    width: 100%;
    height: 1100px;

  }

  .process-container {
    position: absolute;
    top: 0;
    padding: 80px 30px 80px 30px;
    display: flex;
    flex-direction: column;      
  }

  .process-headline {
    color: white;
    font-weight: 700;
    font-size: 40px;
    /* display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; */

  }

  .process-points {
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 40px;
    align-items: start; */
    padding-top: 20px;
    
  }

  .process-steps-subheadline {
    color: rgb(255, 102, 22);
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 10px;
  
  }

  .call-to-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 60px 20px 60px;
    margin-bottom: 40px;

    
  }

  .cta-text {
    font-size: 30px;
    font-weight: 700;
    margin-right: 20px;
    text-align: center;
    margin-bottom: 20px;
  }

  .contact-us-middle-section-container {       
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 0px 0px;
    position: absolute;
    
  
  }

  .contact-us-middle-section {
    height: 1200px;
    background-color: black;
    padding: 180px 0px 0px 0px;
    display: flex;
    justify-content: center;
    position: relative;
  
    
  }
  .contact-us-background-image {
    width: 100%;
    height: 1200px;
    object-fit: cover;
    object-position: right;
    position: absolute;
  }
  
  .contact-us-left-side {
    color: white;
    max-width: 350px;
    margin-bottom: 50px;
  }
  .contact-us-right-side {
    color: white;
    max-width: 350px;
  }

  .blog-page-middle-section{
    display: flex;
    flex-direction: column;   
    align-items: center;
    min-height: 400px;
    padding: 100px 20px 20px 20px;  
  }
  

  .recent-blog-thumbnail-container{
    border-radius: 10px;
    height: 320px;
    width: 320px;
    position: relative;
    margin-bottom: 20px;
    
  }


  .blog-thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    border-radius: 10px  
  }
  
  .overlay {
    background: linear-gradient(
      rgba(0,0,0,0.3),
      rgba(0,0,0,0.7)
    );
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    border-radius: 10px;
  }
  
  .blog-description {
    position: absolute;
    bottom: 40px;
    left: 30px;
    z-index: 3;
    
  }
  
  .blog-category {
    font-size: 15px;
    font-weight: 700;
    color: rgb(180, 180, 180);
    margin-bottom: 20px;
  }
  
  .blog-title {
    font-size: 25px;
    font-weight: 700;
    color: white;
    width: 280px;       
  }
  
  .blog-thumbnail-container{
    border-radius: 10px;
    height: 320px;
    width: 320px;
    position: relative;
    margin-bottom: 20px;
    
  }

  .pricing-middle-section {
    background-color: black;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1320px;
    padding-bottom: 30px;
    
  }

 


}

@media (min-width: 750px) and (max-width: 1019px) {
  
  .description-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding: 0 30px 0 30px;
    margin-bottom: 80px; 
  }
  
  .shows-grid {
    grid-template-columns: 1fr 1fr 1fr;
    min-width: 400px;
    padding: 40px 50px 40px 50px;       
  }

  .process-background {
    height: 700px;
    position: relative;
    padding-bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
  }

  .process-container-background-image {
    width: 100%;
    height: 700px;
  }

  .process-container {
    position: absolute;
    top: 0;
    padding: 80px 60px 80px 60px;
    display: flex;
    flex-direction: column;      
  }

  .process-headline {
    color: white;
    font-weight: 700;
    font-size: 40px;
    /* display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; */

  }

.process-points {
  /* display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 40px;
  align-items: start; */
  padding-top: 20px;
  
}

.process-steps-subheadline {
  color: rgb(255, 102, 22);
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 10px;

}

.call-to-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 120px 40px 120px;
  margin-bottom: 40px;
  
}

.cta-text {
  font-size: 38px;
  font-weight: 700;
  margin-right: 20px;
  text-align: center;
  margin-bottom: 20px;
}




.contact-us-middle-section-container {       
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 60px 80px 60px;
  position: absolute;
  

}

.contact-us-middle-section {
  height: 1100px;
  background-color: black;
  padding: 180px 0px 0px 0px;
  display: flex;
  justify-content: center;
  position: relative;

  
}

.contact-us-background-image {
  width: 100%;
  height: 1100px;
  object-fit: cover;
  object-position: right;
  position: absolute;
}

.contact-us-left-side {
  color: white;
  max-width: 500px;
  margin-bottom: 50px;
}
.contact-us-right-side {
  color: white;
  max-width: 500px;
}

.recent-blog-thumbnail-container{
  border-radius: 10px;
  height: 320px;
  width: 680px;
  position: relative;
  margin-bottom: 20px;
  
}

.blog-page-middle-section{
  display: flex;
  flex-direction: column;   
  align-items: start;
  justify-content: start;
  min-height: 400px;
  padding: 100px 20px 20px 20px;  
}

.blog-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  border-radius: 10px; 
   
  
}

.overlay {
  background: linear-gradient(
    rgba(0,0,0,0.3),
    rgba(0,0,0,0.7)
  );
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  border-radius: 10px;
}

.blog-description {
  position: absolute;
  bottom: 40px;
  left: 30px;
  z-index: 3;
  
}

.blog-category {
  font-size: 15px;
  font-weight: 700;
  color: rgb(180, 180, 180);
  margin-bottom: 20px;
}

.blog-title {
  font-size: 25px;
  font-weight: 700;
  color: white;
  width: 280px;       
}

.blog-thumbnail-container{
  border-radius: 10px;
  height: 320px;
  width: 320px;
  position: relative;
  margin-bottom: 20px;
  
  
  
}


.pricing-middle-section {
  background-color: black;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1100px;
  padding-bottom: 30px;
  
}

   
}

  


@media (min-width: 1020px) {
  .shows-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .process-background {
    height: 500px;
    position: relative;
    /* padding-bottom: 80px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
  }

  .process-container {
    position: absolute;
    top: 0;
    padding: 80px 60px 80px 60px;
    display: flex;
    flex-direction: column;      
  }

  .process-headline {
    color: white;
    font-weight: 700;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  
  }


  .process-points {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 40px;
    align-items: start;
    padding-top: 20px;
    
  }

  .process-steps-subheadline {
    color: rgb(255, 102, 22);
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 20px;
  
  }

  .call-to-action {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 40px 60px 80px 60px;
    
    
  }

  .cta-text {
    font-size: 40px;
    font-weight: 700;
    margin-right: 20px;
    text-align: center;
  }

  .contact-us-middle-section-container {       
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 60px 80px 60px;
    position: absolute;

  }

  .contact-us-middle-section {
    height: 700px;
    background-color: black;
    padding: 180px 0px 0px 0px;
    display: flex;
    justify-content: center;
    position: relative;
  
    
  }

  .contact-us-background-image {
    width: 100%;
    height: 700px;
    object-fit: cover;
    object-position: right;
    position: absolute;
  }



  .recent-blog-thumbnail-container{
    border-radius: 10px;
    height: 320px;
    width: 680px;
    position: relative;
    
  }

  .blog-page-middle-section {
    height: 300px;
    padding: 160px 20px 70px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 18px;
    
  
  }
  
  .blog-thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    border-radius: 10px  
  }
  
  .overlay {
    background: linear-gradient(
      rgba(0,0,0,0.3),
      rgba(0,0,0,0.7)
    );
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    border-radius: 10px;
  }
  
  .blog-description {
    position: absolute;
    bottom: 40px;
    left: 30px;
    z-index: 3;
    
  }
  
  .blog-category {
    font-size: 15px;
    font-weight: 700;
    color: rgb(180, 180, 180);
    margin-bottom: 20px;
  }
  
  .blog-title {
    font-size: 25px;
    font-weight: 700;
    color: white;
    width: 280px;       
  }
  
  .blog-thumbnail-container{
    border-radius: 10px;
    height: 320px;
    width: 320px;
    position: relative;
    margin-bottom: 20px;
    
  }

  .pricing-middle-section {
    background-color: black;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1100px;
    padding-bottom: 30px;
    
  }



  

}




.process-container-background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  padding-bottom: 80px;
  
  
}


.process-steps {
  color: white;
  inset: 0 0 0 0;
  margin-bottom: 30px;

  
}

.process-step-content {
  font-size: 16px;
  line-height: 30px;

}


.cta-button {
  flex-shrink: 0;
  
}


/* Pricing Page styles */





.pricing-background-image {
  width: 100%;
  height: 1300px;
  object-fit: cover;
  object-position: right;
  margin-top: 0px;
  position: absolute;
  bottom: 0px;

}

.pricing-middle-section-container{
  position: absolute;
  top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.pricing-middle-section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 180px 30px 0px 30px;
  

}

.pricing-headline {
  color:white;
  font-weight: 700;
  font-size: 55px;
  text-align: center;
  
}

.pricing-subheadline {
  color: white;
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  margin-bottom: 80px;

}

.package-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 60px 80px 60px 45px;
 
  
}

.package-name {
  font-family: Roboto, Arial;
  font-size: 38px;
  font-weight: 500;
  color: rgb(255, 102, 22);
  line-height: 35px;
  margin-bottom: 15px;

}

.package-price {    
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;

}
.per-month {
  font-size: 18px;   
  font-weight: 400;
}

.package-content {
  font-size: 18px; 
  font-weight: 500;
  color: rgb(71, 71, 71);
  margin-bottom: 70px;
  
}

.checkmark {
  width: 25px;
  margin-right: 10px;
}
.content-points {
  display: flex;
  align-items: start;
  margin-bottom: 10px;

}


.signup-button {
  padding: 20px 40px 20px 40px;
  border-radius: 40px;
  border-style: none;
  background-color: black;
  color: white;
  font-size: 16px;
  font-weight: 700;
  font-family: Montserrat;
  cursor: pointer;

}

.signup-button:hover {
  padding: 20px 40px 20px 40px;
  border-radius: 40px;
  border-style: none;
  background-color: black;
  color: white;
  font-size: 16px;
  font-weight: 700;
  font-family: Montserrat;
  cursor: pointer;


}




/* Blog page styles */





/* Contact page styles */


.contact-us-left-side {
  color: white;
  width: 500px;
}
.contact-us-right-side {
  color: white;
  width: 500px;
}

.contact-us-h1 {
  color:white;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 30px;
}

.contact-us-h2 {
  font-weight: 500;
  margin-bottom: 30px;
}

.contact-us-h3 {
  color: rgb(255, 102, 22);
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  margin-bottom: 00px;
}

.contact-us-points-container{
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
}

.arrow {
  width: 16px;
   margin-right: 16px;
   padding-top: 11px;
   
   
}

.contact-us-points {
  line-height: 30px;
  margin-bottom: 0px;
  font-weight: 500;
  font-size: 16px;
}

.contact-us-right-side {
  background-color: rgb(180, 180, 180);
  width: 500px;
  height: 500px;
  color: rgb(58, 58, 58);
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;

}

.contact-us-cta-container {
  width: 100%;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-us-cta {
  color: rgb(255, 102, 22);
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  margin-bottom: 6px;

}
.contact-us-email {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}
